.Home-page{
   
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-width: 90%;

    }
    .jethro{
        display: flex;
        justify-content: flex-end;

   
        img{
            border-radius: 50%;   
        }
    }

    h1{
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'coolvetica';
        font-weight: 400;

        img{   
            width: 25%;
            animation: rotateIn 1s 1.8s linear both;
            animation-delay: 1.4s;

        }

        
    }
    h2{
        color: #ffff;
        margin-top: 20px;
        font-weight: 500;
        font-size: 15px;
        font-family: sans-serif;
        animation: 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: 1s 1.8 backwards;
        white-space: nowrap;

        &:hover{
            background-color: #ffd700;
            color: #333;
        }
        
    }

    
}

@media(max-width: 920px) {
        .Home-page{
            display: flex !important ;
            flex-direction: column !important;
        

            .text-zone{
                position: relative !important;
                margin-top: 50%;
                margin-left: 20px;
                font-size: 12px;


                    h1 {
                        margin: 4rem;
                        padding-top: 4rem;
                        justify-content: center;
                        font-size: 16px !important;
                    }

            }
            .jethro{
                justify-content: center !important;
                padding:1.5rem !important;

              
            }
        }
        
}
